@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: rgb(240, 255, 240);
    margin: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgb(5, 43, 1);
    background-image: linear-gradient(215deg, rgba(9, 64, 3, 0.6), rgba(43, 255, 106,0.6)),url(https://cdn.pixabay.com/photo/2023/01/23/16/22/leaves-7739108_960_720.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#title {
    color: rgb(200, 255, 200);
    font-weight: 600;
    font-size: 40px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4)
}

p {
    font-size: 18px;
}

h1, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

label {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 14px;
    line-height: inherit;
}

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
    padding: 1.8rem 1 rem;   
}

.header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
    text-align: center;
}

#description {
    font-weight: 200;
    color: rgb(240, 255, 240);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

form {
    background: rgba(9, 64, 3, 0.7);
    border-radius: 20px;
}

@media (min-width:480px) {
    form {
        padding: 2.5rem;
    }
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 2px 5px;
    color: DarkSlateGray;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.form-control:hover {
    border-color: ForestGreen;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(30, 255, 0, 0.466);
}

.form-control:focus {
    border-color: ForestGreen;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(30, 255, 0, 0.466);
}

.radioIn, .checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 5px;
    min-width: 5px;
    accent-color: GreenYellow;
}   

.textarea {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    outline: none;
    border-color: rgb(14, 136, 0);
    border-radius: 5px;
}

.textarea:hover {
    border-color: ForestGreen;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(30, 255, 0, 0.466);
}

.textarea:focus {
    border-color: ForestGreen;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(30, 255, 0, 0.466);
}

.button {
    display: block;
    width: 100%;
    background: #04AA6D;
    border-color: rgba(2, 90, 48, 0.6);
    color: rgb(255, 255, 255);
    font-size: 18px;
    height: 30px;
    border-radius: 5px;
}

.button:hover {
    background-color: #058f5c;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

@media (min-width:576px){
    .container {
        max-width: 540px;
    }
}

@media (min-width:800px){
    .container {
        max-width: 760px;
    }
}
